<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de Mi</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}Acerca de Mi{% endblock %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Acerca de Mi</h1>
            <div class="text-center">
                <img src="{% static 'banner_task_list' %}" alt="Mi imagen">
            </div>
            <p>
                Aquí puedes escribir un texto explicando sobre ti.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac magna a dui posuere sodales ut sit
                amet magna.
            </p>
        </div>
    </div>
</main>
{% endblock %}


</body>
</html>